package-lock.json
assets/Images/MapIcons
assets/Images/Maps
node_modules/

cache/getMap/*
!cache/getMap/.gitKeep
cache/warReport/*
!cache/warReport/.gitKeep
cache/mapChoices/*
!cache/mapChoices/.gitKeep

config.json
